fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
rank_bm25
youtube-transcript-api
yt-dlp
faster-whisper
requests
